<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="{{color}}-fon">
    <div class="{{color}}-header">
        <div class="snowblock"></div>
        <h1>День в фокусе</h1>
    </div>

    <div class="{{color}}-container">
        {% block content %}{% endblock %}
    </div>

    <nav class="{{color}}-bottom">
        <ul>
            <li>
                <a class="{{color}}-a" href="{{ url_for('index') }}">
                    {% if color == 'green' %}
                        <img src="{{ url_for('static', filename='img/green_home.svg') }}" alt="Профиль" width="32" height="32">
                    {% elif color == 'pink' %}
                        <img src="{{ url_for('static', filename='img/pink_home.svg') }}" alt="Профиль" width="32" height="32">
                    {% elif color == 'black' %}
                        <img src="{{ url_for('static', filename='img/black_home.svg') }}" alt="Профиль" width="32" height="32">
                    {% endif %}
                    Главная
                </a>
            </li>
            <li>
                <a class="{{color}}-a" href="{{ url_for('profile') }}">
                    {% if color == 'green' %}
                        <img src="{{ url_for('static', filename='img/green_profile.svg') }}" alt="Профиль" width="32" height="32">
                    {% elif color == 'pink' %}
                        <img src="{{ url_for('static', filename='img/pink_profile.svg') }}" alt="Профиль" width="32" height="32">
                    {% elif color == 'black' %}
                        <img src="{{ url_for('static', filename='img/black_profile.svg') }}" alt="Профиль" width="32" height="32">
                    {% endif %}
                    Профиль
                </a>
            </li>
            <li>
                <a class="{{color}}-a" href="{{ url_for('settings') }}">
                    {% if color == 'green' %}
                        <img src="{{ url_for('static', filename='img/green_settings.svg') }}" alt="Профиль" width="32" height="32">
                    {% elif color == 'pink' %}
                        <img src="{{ url_for('static', filename='img/pink_settings.svg') }}" alt="Профиль" width="32" height="32">
                    {% elif color == 'black' %}
                        <img src="{{ url_for('static', filename='img/black_settings.svg') }}" alt="Профиль" width="32" height="32">
                    {% endif %}
                    Настройки
                </a>
            </li>
        </ul>
    </nav>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>

