<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="header">
        <h1>День в фокусе</h1>
    </div>
    <div class="container">
        <div class="container reg-page">
            <h2>Регистрация</h2>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul class="flashes">
                        {% for category, message in messages %}
                            <li class="{{ category }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            <form method="post" action="{{ url_for('register') }}">
                <label for="username">Логин:</label><br>
                <input type="text" id="username" name="username" required><br><br>

                <label for="password">Пароль:</label><br>
                <input type="password" id="password" name="password" required><br><br>

                <button type="submit">Зарегистрироваться</button>
            </form>
            <p style="text-align:center">Уже зарегистрированы? <a href="{{ url_for('login') }}">Войти</a></p>
        </div>
    </div>
</body>
</html>
