<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="header">
        <h1>День в фокусе</h1>
    </div>
    <div class="container reg-page">
        <h2>Регистрация</h2>
        <form method="post" action="{{ url_for('register') }}">
            <input type="text" name="username" placeholder="Имя пользователя" required><br><br>
            <input type="password" name="password" placeholder="Пароль" required><br><br>
            <button type="submit">Зарегистрироваться</button>
        </form>
        <p style="text-align:center">Уже есть аккаунт? <a href="{{ url_for('login') }}">Войти</a></p>
    </div>
</body>
</html>
